.show_more_container{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
}
.show_more{
    background-color: #FB9C46;
    border-radius: 7px;
    border: none;
    color: #fff;
    padding: 8px 36px;
    font-size: 14px;
    font-weight: 600;
    line-height: 170%;
    transition: 0.7s ease;
}
.show_more:hover{
    background-color: #905b29;
}