/*section1*/
.section1{
    display: flex;
}
.container1{
    margin-top: 52px;
}
.container1 h1{
    margin: 37px 0;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 3.5%;
    line-height: 160%;
}
.container1 p{
    color: #6C6C6C;
    font-size: 18px;
}
.container1 a{
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 290px;
    height: 62px;
    font-size: 16px;
    text-decoration: none;
    background-color: #058E6E;
    color: #ffffff;
}
.orange{
    color: #FB9C46;
}
.orange-line{
    margin-left: 18px;
    width: 136px;
    height: 1px;
    background-color: #FF922F;
}
.graphic-box{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.graphic-box p{
    color: #FB9C46;
    font-size: 16px;
    font-weight:600;
    letter-spacing: 0.3px;
}
.icon1{
    width:570.37px ;
    height:646px ;
}
/*section2*/
.section2{
    margin-top: 90px;
    display: flex;
    
}
.container2{
 width: 40vw;
}
.container2 p{
    color:#FB9C46;
    font-size: 16px;
    font-weight:600;
}
.container2 h2{
    margin: 10px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing:3.5%;
}
.container2 > div{
    display: flex;
    align-items: center;
}
.container2 > div p{
    font-size: 18px;
}
.container2-right p{
    color: #6C6C6C;
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 30px;
}
.container2-right > div{
    display: flex;
    justify-content: center;
}
.container2-right > div > div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-items: center;
    gap: 2vw;
}
.container2-right div div img:hover{
    filter: brightness(50%);
}
.container2-right > div > div > a{
    display: flex;
    text-decoration: none;
    color: #FB9C46;
    font-size: 18px;
}
/*section3*/

.section3{
    margin-top: 80px;
    display: flex;
}
.container3{
    margin-top: 155px;
}
.container3 h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 3.5%;
}
.container3 p{
    margin: 20px 0;
    font-size: 18px;
    line-height:160%;
    color: #6C6C6C;
}
.container3 div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.lessonBtn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 61px;
    background-color:#FB9C46;
    border-radius: 15px;
}
.lessonBtn:hover{
     background-color:#a6825e;
}
.tutorBtn{
    font-size: 16px;
    font-weight: 600;
    color: #FB9C46;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 61px;
    border: 3px solid #FB9C46;
     border-radius: 15px;
}
.tutorBtn:hover{
    color: #ffffff;
    background-color:#FB9C46 ;
}
.icon2{
     width: 50vw;
}
   
/*section4*/
.section4{
    margin-top: 8vh;
    display: flex;
}
.icon3{
    width: 39.4vw;
    height: 52vh;
}
.container4{
    width: 40vw;
    margin-left: 5vw;
}
.container4 h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 3.5%;
    color: #393939;
}
.green{
    color: #058E6E;
}
.container4 p{
    font-size: 18px;
    line-height: 160%;
    color: #6C6C6C;
    z-index: 1000;
    
}
.container4 ul{
    background-color: #e3f2ef;
    box-shadow: -2vw 0 30px 35px #e3f2ef, 0 0 30px 35px #e3f2ef;
}
.container4 ul li{
    margin-top: 3vh;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 34.5vw;
    height: 10.5vh;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.container4 ul li img{
    width: 44px;
    height: 44px;
}
.container4 ul li dl{
    width: 80%;
}
.container4 ul li dl dt{
    font-size: 16px;
    font-weight: 600;
    line-height: 170%;
    color: #393939;
}
.container4 ul li dl dd{
    font-size: 14px;
    line-height: 160%;
    color: #8D8D8D;
}
/*section5*/
.section5{
    margin-top: 15vh;
    display: flex;
}
.container5{
     width: 44vw;
     margin-right: 5vw;
}
.container5 h3{
    font-size: 36px;
    line-height: 160%;
    letter-spacing: 3.5%;
    color: #393939;
    font-weight: 600;
}
.container5 p{
    margin-top: 2vh;
    font-size: 18px;
    line-height: 160%;
    color: #6C6C6C;
}
.container5 ul{
    margin-top: 4vh;
    background-color: #fff1e6;
    box-shadow: 0 0 60px 35px #fff1e6;
}
.container5 ul li{
    margin-top: 2vh;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 43vw;
    height: 9vh;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.container5 ul li img{
    width: 44px;
    height: 44px;
}
.container5 ul li dl{
    width: 80%;
}
.container5 ul li dl dt{
    font-size: 18px;
    line-height: 170%;
    color: #FB9C46;
}
.container5 ul li dl dd{
    font-size: 14px;
    line-height: 170%;
    color: #393939;
}
.icon4{
    margin-top: 8vh;
    width: 36vw ;
    height: 44vh;
}
/*section6*/

/*section7*/
.section7{
    border-radius: 8px;
    background-image: linear-gradient(to right,#ff912f,#f4bf63);
    display: flex;
    justify-content: space-around;
    height: 40vh;
}
.container7{
    margin-top: 12vh;
    width: 27.5vw;
}
.container7 h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.container7 p{
    color: #ffffff;
    font-size: 14px;
    font-weight:500;
    line-height:32px;
    letter-spacing: 0.3px;
}
.container7 > p{
    margin-top: 3vh;
}
.container7 div{
    margin-top: 1vh;
    display: flex;
    align-items: center;
}
.container7 div img{
    cursor: pointer;
}
.container7 div p{
    margin-left: 1vw;
    color: #ffffff;
    text-decoration: underline;
    line-height: 32px;
}
.section7 a{
    margin-top: 15vh;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #FB9C46;
    background-color: #FFFFFF;
    height: 60px;
    width:259px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section7 a:hover{
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    transition: 0.7s ease;
}

/*tablet styles*/
@media (min-width:769px) and (max-width:1024px){
        .icon1{
        width: 55vw;
        height: 90vw;
    }
    .container2-right > div > div {
    grid-template-columns: 14vw 14vw 14vw 16vw;
    column-gap: 1vw;
    row-gap: 5vw;
    }
    .container3{
        margin-top: 10vh;
    }
    .container3 p{
        margin: 2vh 0;
    }
    .container3 >div{
        flex-direction: column;
        justify-content: space-between;
        height: 15vh;
    }
    .lessonBtn{
        width: 100%;
    }
    .tutorBtn{
        width: 100%;
    }
    .section7{
        padding-bottom: 2vh;
        min-height: 50vh;
        box-sizing: border-box;
    }
    .container7{
        width: 37vw;
    }
}

/*mobile styles*/
@media(max-width:768px){
    .section1{
        flex-direction: column;
    }
    .container1{
        margin-top: 0;
    }
    .container1 h1{
        margin: 15px 0;
        font-size: 32px;
    }
    .container1 p{
        font-size: 14px;
        line-height: 200%;
    }
    .container1 a{
        margin-top: 15px;
        width: 239px;
        height: 70px;
    }
    .orange-line{
        width: 85px;
    }
    .icon1Div{
        margin-top: 51px;
        display: flex;
        justify-content: end;
    }
    .icon1{
        width: 75vw;
        height: 90vw;
    }
    .section2{
        display: flex;
        flex-direction: column;
    }
    .container2{
        width: 70vw;
        margin-bottom: 5vh;
    }
    .container2 h2{
        font-size: 30px;
    }
    .container2-right p{
        font-size: 12px;
    }
    .container2-right > div > div {
            grid-template-columns: 14vw 14vw 14vw 16vw;
            gap: 10vw;
    }
    /*section3*/
    .section3{
        flex-direction: column;
    }
    .container3{
        margin-top: 7vh;
    }
    .container3 h3{
        font-size: 30px;
    }
    .container3 p{
        font-size: 12px;
    }
    .lessonBtn{
        font-size: 12px;
        min-width: 150px;
        width: 40vw;
    }
    .tutorBtn{
        font-size: 12px;
        min-width: 150px;
        width: 40vw;
    }
    .icon2{
        width: 100%;
    }
    /*section4*/
    .section4{
        flex-direction: column-reverse;
        width: 100%;
    }
    .icon3{
        margin-top: 8vh;
        width: 100%;
    }
    .container4{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }
    .container4 h3{
        margin-top: 3vh;
        text-align: center;
        font-size: 30px;
    }
    .container4 p{
        margin-top: 3vh;
        text-align: end;
        font-size: 12px;
        line-height: 200%;
        color: #90A3B4;
    }
    .container4 ul{
        margin-top: 2vh;
        width: 100%;
        display: flex;
        flex-direction: column;
         align-items: center;
        box-sizing: border-box;
        box-shadow: 0;
    }
    .container4 ul li{
        width: 100%;
        height: auto;
        padding: 3vh 1vw;/*dint work*/
        box-sizing: border-box;
    }
    .container4 ul li img{
        width: 29px;
        height: 29px;
    }
    .container4 ul li dl dt{
        font-size: 15px;
        line-height: 170%;
    }
    .container4 ul li dl dd{
        font-size: 10px;
        line-height: 200%;
    }
    /*section5*/
    .section5{
        flex-direction: column;
        margin-top: 8vh;
    }
    .container5{
        width: 100%;
        margin-right: 0;
    }
    .container5 h3{
        width: 100%;
        font-size: 30px;
    }
    .container5 p{
        margin-top: 4vh;
        font-size: 12px;
        line-height: 200%;
        color: #90A3B4;
    }
    .container5 ul{
        margin-top: 2vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        box-shadow: 0;
    }
    .container5 ul li{
        margin-bottom: 1.5vh;
        width: 100%;
        height: auto;
        padding: 3vh 1vw;/*dint work*/
        box-sizing: border-box;
    }
    .container5 ul li img{
        width: 29px;
        height: 29px;
    }
    .container5 ul li dl dt{
        font-size: 15px;
        line-height: 170%;
    }
    .container5 ul li dl dd{
        font-size: 10px;
        line-height: 200%;
    }
    .icon4{
        margin-top: 5vh;
        width: 100%;
        height: 60vh;
    }
    /*section7*/
    .section7{
        flex-direction: column;
        justify-content: start;
        width: 100vw;
        height: 75vh; 
        margin-left: calc(-50vw + 50%);
        box-sizing: border-box;
    }
    .container7{
        width: 84vw;
        margin:10vh 25px 0 25px;
    }
    .container7 h3{
        font-size: 30px;
    }
    .container7 p{
        font-size: 12px;
    }
    .container7 div{
        margin-top: 2vh;
    }
    .section7 a{
        margin: 10vh 0 0 25px;
    }
}