*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #FFFFFF;
    }

.navbar{
    height: 117px;
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6.5em;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 3.25em;
}
.nav-link{
    text-decoration: none;
    color: #393939;
    font-size:16px ;
    font-weight:600;
    transition: 0.7s ease;
}
.nav-link:hover{
    color: #a6825e;
}
.nav-link.active{
    color: #FB9C46;
    border-bottom: 3px solid #FB9C46;
    transition: none;
    
}

.log-btns-container{
    display: flex;
    justify-content: space-between;
    width: 256px;
}
.signup{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 102px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #FB9C46;
    color: #FFFFFF;
}
.signup:hover{
    color: #FB9C46;
    background-color: transparent;
    border: 3px solid #FB9C46;
}
.signup.active{
    color: #FFFFFF;
    border: none;
}
.login{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 102px;
    height: 44px;
    border: none;
    border-radius: 8px;
    background-color: #407F55;
    color: #FFFFFF;
}
.login:hover{
    color: #407F55;
    background-color: transparent;
    border: 3px solid #407F55;
}
.login.active{
    color: #FFFFFF;
    border: none;
}
.nav-branding{
    text-decoration: none;
    color: #393939;
    font-size: 18px;
    font-weight: bolder;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 18px;
    height: 3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FB9C46;
}
@media (min-width:769px) and (max-width:1024px){
    .nav-menu{
        gap:1em;
    }
    .navbar{
        margin: 0 3.5em;
    }
    .log-btns-container{
        width: 220px;
    }
}


@media(max-width:768px){
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
         opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
         transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
         transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        height: 77px;
        margin: 0 25px;
    }
    .nav-menu{
        padding-top: 77px;
        position: fixed;
        right: -100%;
        top:0;
        bottom: 0;
        gap: 0;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 70%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-link{
        width: 100%;
        height: 54px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .nav-link.active{
    border: none;
    background-color: #F6F6F6;
}
    .nav-menu.active{
        right: 0;
         box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.2)
    }
    .log-btns-container{
        position: fixed;
        bottom: 0;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .signup{
        width: 209px;
        height: 44px; 
    }
    .login{
        width: 209px;
        height: 44px;
    }
}