/*section3*/

.section3{
    margin-top: 80px;
    display: flex;
}
.container3{
    margin-top: 155px;
}
.container3 h3{
    font-size: 36px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 3.5%;
}
.container3 p{
    margin: 20px 0;
    font-size: 18px;
    line-height:160%;
    color: #6C6C6C;
}
.container3 div{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.lessonBtn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 61px;
    background-color:#FB9C46;
    border-radius: 15px;
        transition: 0.7s ease;
}
.lessonBtn:hover{
     background-color:#a6825e;
}
.tutorBtn{
    font-size: 16px;
    font-weight: 600;
    color: #FB9C46;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 61px;
    border: 3px solid #FB9C46;
     border-radius: 15px;
         transition: 0.7s ease;
}
.tutorBtn:hover{
    color: #ffffff;
    background-color:#FB9C46 ;
}
.icon2{
     width: 50vw;
}
/*tablet styles*/
@media (min-width:769px) and (max-width:1024px){
    .container3{
        margin-top: 10vh;
    }
    .container3 p{
        margin: 2vh 0;
    }
    .container3 >div{
        flex-direction: column;
        justify-content: space-between;
        height: 15vh;
    }
    .lessonBtn{
        width: 100%;
    }
    .tutorBtn{
        width: 100%;
    }
}
@media(max-width:768px){

  
    /*section3*/
    .section3{
        flex-direction: column;
    }
    .container3{
        margin-top: 7vh;
    }
    .container3 h3{
        font-size: 30px;
    }
    .container3 p{
        font-size: 12px;
    }
    .lessonBtn{
        font-size: 12px;
        min-width: 150px;
        width: 30vw;
    }
    .tutorBtn{
        font-size: 12px;
        min-width: 150px;
        width: 30vw;
    }
    .icon2{
        width: 100%;
    }
}