/*section2*/
.section2{
    margin-top: 90px;
    display: flex;
    
}
.container2{
 width: 40vw;
}
.container2 p{
    color:#FB9C46;
    font-size: 16px;
    font-weight:600;
}
.container2 h2{
    margin: 10px 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing:3.5%;
}
.container2 > div{
    display: flex;
    align-items: center;
}
.container2 > div p{
    font-size: 18px;
}
.container2_right p{
    color: #6C6C6C;
    font-size: 14px;
    line-height: 200%;
    margin-bottom: 30px;
}
.container2_right > div{
    display: flex;
    justify-content: center;
}
.container2_right > div > div{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    align-items: center;
    gap: 2vw;
    
}
/*
.container2-right div div img:hover{
    filter: brightness(50%);
}*/
.container2_right > div > div > a{
    display: flex;
    text-decoration: none;
    color: #FB9C46;
    font-size: 18px;
}
.container2_right > div > div > a:hover{
        filter: brightness(50%);
}
/*tablet version*/
@media (min-width:769px) and (max-width:1024px){
        .container2_right > div > div {
    grid-template-columns: 14vw 14vw 14vw 16vw;
    column-gap: 1vw;
    row-gap: 5vw;
    }
}

/*mobile styles*/
@media(max-width:768px){
      .section2{
        display: flex;
        flex-direction: column;
    }
    .container2{
        width: 70vw;
        margin-bottom: 5vh;
    }
    .container2 h2{
        font-size: 30px;
    }
    .container2_right p{
        font-size: 12px;
    }
    .container2_right > div > div {
            grid-template-columns: 14vw 14vw 14vw 16vw;
            gap: 10vw;
    }
}