@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

main{
        position: relative;
        margin: 14.8vw 6.5em;
    }

    
@media (min-width:769px) and (max-width:1024px){
    main{
        margin:181px 3.5em;
    }
}

@media(max-width:768px){
    main{
        margin:112px 25px;
    }
}